In [1]:
import pandas as pd
import re
import json

tsv_file = 'grid-rm.tsv'
df = pd.read_csv(tsv_file,sep='\t')
df.head()

          region  gridX  gridY
0    María Pinto      1      2
1      San Pedro      0      5
2  Independencia      5      1
3     La Florida      8      4
4   Lo Barnechea      8      0

In [26]:
## Output for the animation geo2rect
with open('output.json','w') as f:
    f.write('{')
    for k,v in df.T.to_dict().items():
        f.write("'"+str(v["region"])+"':"+"{x:"+str(v["gridX"])+",y:"+str(v["gridY"])+"},\n")
    f.write("}")

María Pinto
San Pedro
Independencia
La Florida
Lo Barnechea
Lo Espejo
Lo Prado
Pedro Aguirre Cerda
Pudahuel
San Joaquín
San Ramón
El Monte
Isla de Maipo
Talagante
Colina
Lampa
Tiltil
Pirque
Puente Alto
San José de Maipo
Buin
Paine
San Bernardo
Alhué
Curacaví
Calera de Tango
Melipilla
Cerrillos
Cerro Navia
Conchalí
El Bosque
Peñalolén
Providencia
Quilicura
Vitacura
Padre Hurtado
Quinta Normal
Recoleta
Renca
San Miguel
Santiago
Huechuraba
La Cisterna
La Granja
La Pintana
La Reina
Las Condes
Macul
Maipú
Ñuñoa
Peñaflor
Estación Central

In [4]:
## Output CSV file
pd.read_csv(tsv_file,sep='\t').to_csv("grid-rm.csv",index=True)

In [2]:
df2 = pd.read_csv("Gastos_Presidencial_y_Parlamentarias_2017")

/usr/local/Cellar/ipython/7.3.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df2.head()

,ELECCI?N,REGI?N,TERRITORIO ELECTORAL,RUN CANDIDATO,DV,NOMBRE DEL CANDIDATO,AFILIACI?N,NOMBRE PARTIDO,RUT O RUN DEL PROVEEDOR,DV.1,NOMBRE PROVEEDOR,FECHA DOCUMENTO,TIPO DOCUMENTO,DESCRIPCI?N T/D,TIPO CUENTA,DESCRIPCI?N T/C,N?MERO DOCUMENTO,GLOSA DOCUMENTO,MONTO
0,PRESIDENTE,NACIONAL,NACIONAL,"8,510,034",3,ALEJANDRO NAVARRO BRAIN,Afiliado,PARTIDO PAIS,"96,705,470",4,MORI MARKET OPINIONRESEARCH INTERNATIONAL (CHI...,10/23/2017,FE,NaN,220,NaN,110.0,OMNIBUS 10 PREGUNTAS,"3,500,000"
1,PRESIDENTE,NACIONAL,NACIONAL,"8,510,034",3,ALEJANDRO NAVARRO BRAIN,Afiliado,PARTIDO PAIS,"96,896,270",1,PUBLIMETRO S.A.,10/25/2017,FA,NaN,211,NaN,21086.0,INSERTOS PUBLIMETRO,"3,748,500"
2,PRESIDENTE,NACIONAL,NACIONAL,"8,510,034",3,ALEJANDRO NAVARRO BRAIN,Afiliado,PARTIDO PAIS,"96,896,270",1,PUBLIMETRO S.A.,10/31/2017,FA,NaN,211,NaN,21192.0,INSERTOS PUBLIMETRO,"5,140,800"
3,PRESIDENTE,NACIONAL,NACIONAL,"8,510,034",3,ALEJANDRO NAVARRO BRAIN,Afiliado,PARTIDO PAIS,"16,241,580",8,FELIPE ALEXANDER CONTRERAS OTEIZA,11/1/2017,BH,Boleta de Honorarios,241,NaN,51.0,SERVICIOS AUDIOVISUALES A CANDIDATURA PRESIDEN...,"1,666,667"
4,PRESIDENTE,NACIONAL,NACIONAL,"8,510,034",3,ALEJANDRO NAVARRO BRAIN,Afiliado,PARTIDO PAIS,"15,090,258",4,ESTEBAN ANDRES VIDALROMO,11/1/2017,BH,Boleta de Honorarios,241,NaN,140.0,REALIZACION PIEZAS AUDIOVISUALES CANDIDATURA P...,"3,500,000"

In [5]:
df2.describe()

        TIPO CUENTA  N?MERO DOCUMENTO
count  69805.000000      6.894000e+04
mean     264.228952      8.936222e+07
std       63.421164      2.305026e+10
min      210.000000      0.000000e+00
25%      241.000000      3.000000e+00
50%      251.000000      4.800000e+01
75%      292.000000      1.970250e+03
max      999.000000      6.052174e+12