In [24]:
import pandas as pd
import re
import json

df = pd.read_csv('grid-rm.tsv',sep='\t')
df.head()

          region  gridX  gridY
0    María Pinto      1      2
1      San Pedro      0      5
2  Independencia      5      1
3     La Florida      8      4
4   Lo Barnechea      8      0

In [3]:
df.to_json("data.json")

In [26]:
with open('output.json','w') as f:
    f.write('{')
    for k,v in df.T.to_dict().items():
        f.write("'"+str(v["region"])+"':"+"{x:"+str(v["gridX"])+",y:"+str(v["gridY"])+"},\n")
    f.write("}")

# with open('whatever.json', 'w') as f:
#     f.write('var results = [\n')
#     for k,v in df.drop('B1_EMS_DH26', axis=1).T.to_dict().items():
#         f.write("{name:"+json.dumps(k)+", "+re.sub(r'[{"\']', '', json.dumps(v))+',\n')
#     f.write('];')

María Pinto
San Pedro
Independencia
La Florida
Lo Barnechea
Lo Espejo
Lo Prado
Pedro Aguirre Cerda
Pudahuel
San Joaquín
San Ramón
El Monte
Isla de Maipo
Talagante
Colina
Lampa
Tiltil
Pirque
Puente Alto
San José de Maipo
Buin
Paine
San Bernardo
Alhué
Curacaví
Calera de Tango
Melipilla
Cerrillos
Cerro Navia
Conchalí
El Bosque
Peñalolén
Providencia
Quilicura
Vitacura
Padre Hurtado
Quinta Normal
Recoleta
Renca
San Miguel
Santiago
Huechuraba
La Cisterna
La Granja
La Pintana
La Reina
Las Condes
Macul
Maipú
Ñuñoa
Peñaflor
Estación Central